ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

.intro-paragraph {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.goals-schema-container {
    text-align: center;
    max-width: 800px;
    margin: 2rem auto;
}